* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #908d89;
  font-family: "calibri";
}

/*Cabeza de la pagina*/

/*Encabezado*/

.contenedor {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: var(--paddingsecciones);
}

.menu_navegacion {
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: #d9d9d9;
}

.logo {
  height: 80px;
}
.logo img {
  height: 100%;
}

.enlances li {
  list-style: none;
  display: inline-block;
  padding: 12px;
  margin-left: 20px;
  position: relative;
}
.enlances li a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

.enlances li a::before {
  width: 0;
  background: rgb(119, 32, 32);
  height: 5px;
  top: 0;
  display: block;
  position: absolute;
  content: "";
  transition: width 1s;
}

.enlances li a:hover::before {
  width: 100%;
}

/* Parte principal de la pagina */

.main {
  height: 600px;
  margin: 20px auto;
}
.h2 {
  text-align: center;
}

/*Pie de pagina */

.footer  {
  background-color: #d9d9d9;
  width: 100%;
}

.footer .footer_grupo1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
}

.footer .footer_grupo1 .box figure{
  display: flex;
  justify-content: center;
  width: 130px;
  align-items: center;
}

.footer .footer_grupo1 .box figure img{
  width: 100%;
  border-radius: 100%;
}

.footer .footer_grupo1 .box h2{
  font-size:25px;
  color: black;
  font-weight: 700;
}

.footer .footer_grupo1 .box h2 p{

}

.footer .footer_grupo1 .box .footer_redes a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.footer .footer_grupo1 .box .footer_redes a:hover{
  color:grey;
}

.footer_copy {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.footer_copy hr {
  border: none;
  height: 0.01em;
  background-color: #7a7a7a;
}
/*---Pagina de contacto---*/

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}
.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
  line-height: 45px;
}

.container-form a i {
  color: orange;
  margin-right: 10px;
}
.container-form form .campo,
textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.container-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}
.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: orange;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.container-form .btn-enviar:hover {
  background: #e39403;
}

/* ---Galeria--- */

.pizzeta {
  font-weight: 400;
  text-align: left;
  padding: 20px 0;
  font-size: 40px;
}

.pizzeta-1 {
  width: 30%;
  vertical-align: top;
  height: 300px;
}
.pizzeta-2 {
  vertical-align: top;
  height: 150px;
  width: 200;
}

/* Quienes somos? */

#centro {
  background: #66ffff;
  margin: 0 auto;
  border: thin solid #000000;
  width: 200px;
}
